@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --base: #000;
    --bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #fff;
    --bg: #000;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: var(--base);
  background-color: var(--bg);
}
  
input:focus, input,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.pixellet {
  font-family: 'Pixellet';
}

.pixelify {
  font-family: 'Pixelify Sans';
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

hr {
  position: absolute;
  width: calc(100vw - 48px);
  z-index: -50;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 1px var(--base);
  border-style: inset;
  border-width: 1px;
}

@media (min-width: 1024px) {
  .-full-screen {
    position: relative;
    height: calc(100vh - 64px);
  }
}

.-bg-fixed {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: calc(100% - 64px);
  z-index: -100;
}

.-button-line {
  font-weight: 600;
  width: max-content;
}

.-button-line:hover {
  position: relative;
  font-weight: 600;
}

.-button-line::before {
  display: block;
  content: attr(id);
  font-weight: 600;
  z-index: 1;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.-button-line::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.25s ease;
  left: 50%;
  transform: translateX(-50%);
}

.-button-line:hover::after {
  width: 100%;
}

.-text-line {
  position: relative;
  width: max-content;
  font-weight: 600;
}

.-text-line::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: all 0.25s ease;
  left: 50%;
  transform: translateX(-50%);
}

.-section-1 {
  height: calc(100vh - 64px);
}

.-terra {
  position: relative;
  height: 100%;
  width: 100%;
}

.-hero-effect {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.-hero-effect-top {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
}

.-hero-effect-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -2;
  overflow: hidden;
}

.-gradient-a {
  position: absolute;
  top: 50%;
  right: 0%;
  height: 60vh;
  width: 40vw;
  z-index: -100;
  transform: rotateZ(-45deg);
  background: #007CCF;
  background: linear-gradient(to left, #007CCF 0%, #7640CF 100%);
  -webkit-text-fill-color: transparent;
}

.-gradient-b {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 50vh;
  width: 50vw;
  z-index: -100;
  transform: rotateZ(-45deg);
  background: #007CCF;
  background: linear-gradient(to right, #007CCF 0%, #7640CF 100%);
  -webkit-text-fill-color: transparent;
}

.-X {
  position: absolute;
  top: -10%;
  font-weight: 700;
  font-size: 5rem;
  transform: rotateZ(90deg);
}
