@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --base: rgba(0, 0, 0, 1.0);
    --baseinverse: rgba(255, 255, 255, 1.0);
    --bg: rgba(250, 250, 250, 0.90);
    --bgaccent: rgba(255, 255, 255, 0.90);
    --card: rgba(253, 253, 253, 0.4);
    --card-fade: rgba(253, 253, 253, 0.1);
    --border: rgba(196, 196, 196, 0.7);
    --pri: rgba(136, 106, 255, 0.9);
    --sec: rgba(214, 155, 11, 0.9);
    --ter: rgba(133, 133, 133, 0.9);
    --fade: rgba(156, 156, 156, 1.0);
    --fadebg: rgba(250, 250, 250, 0.9);
    --green: rgba(15, 118, 110, 0.8);
    --red: rgba(190, 18, 60, 0.8);
    --amber: rgba(202, 138, 4, 0.8);
    --shadow-radius: 0px;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --base: rgba(255, 255, 255, 1);
      --baseinverse: rgba(0, 0, 0, 1.0);
      --bg: rgba(0, 0, 0, 0.75);
      --bgaccent: rgba(0, 0, 0, 0.8);
      --card: rgba(0, 0, 0, 0.4);
      --card-fade: rgba(0, 0, 0, 0.1);
      --border: rgba(156, 156, 156, 0.3);
      --pri: rgba(151, 125, 255, 0.9);
      --sec: rgba(241, 195, 77, 0.9);
      --ter: rgba(255, 255, 255, 0.9);
      --fade: rgba(100, 100, 100, 1.0);
      --fadebg: rgba(20, 20, 20, 0.85);
      --green: rgba(13, 148, 136, 0.8);
      --red: rgba(225, 29, 72, 0.8);
      --amber: rgba(234, 179, 8, 0.8);
      --shadow-radius: 0px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --aside-visibility: flex;
    --aside-width: 300px;
    --main-width: calc(100dvw - var(--aside-width));
  }
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  :root {
    --aside-visibility: none;
    --aside-width: 300px;
    --main-width: 100dvw;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: var(--base);
  background-color: var(--baseinverse);
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

input:focus, input,
select:focus,
textarea:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.pixellet {
  font-family: 'Pixellet';
}

/* .pixelify {
  font-family: 'Pixelify Sans';
} */

h1 {
  font-weight: 900;
  font-size: 3rem;
  margin: 1rem 0;
  line-height: 120%;
}

h2 {
  font-weight: 900;
  font-size: 2rem;
  line-height: 120%;
}

h3 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 120%;
}

h4 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 120%;
}

h5 {
  font-weight: 700;
  font-size: 1.0rem;
  line-height: 110%;
}

h6 {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 100%;
}

p {
  font-size: 0.8rem;
  line-height: 120%;
}

#small-p {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--fade);
}

#small-p-ter {
  font-size: 0.8rem;
  color: var(--ter);
}

#small-p-nav {
  font-size: 0.8rem;
  color: var(--base);
}

hr {
  position: absolute;
  width: calc(100vw - 48px);
  z-index: -50;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 1px var(--base);
  border-style: inset;
  border-width: 1px;
}

.color-pri {
  color: var(--pri);
}

.color-sec {
  color: var(--sec);
}

.color-ter {
  color: var(--ter);
}

nav {
  background-color: var(--bgaccent);
  border-bottom: solid 1px var(--border);
}

footer {
  background-color: var(--bgaccent);
  border-top: solid 1px var(--border);
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

@media screen and (min-width: 1024px) {
  .-full-screen {
    height: calc(100dvh - 80px);
  }
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  .-full-screen {
    height: calc(100dvh - 80px);
    overflow-y: scroll;
  }
}

.-cover-nav {
  width: 100dvw;
  height: calc(30dvh + 64px);
}

.-scroll-none {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.-scroll-none::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.-quiz-height-control {
  min-height: calc(100vh - 80px);
}

#fadebg {
  background-color: var(--fadebg);
}

#bg-fixed {
  object-fit: cover;
  width: 100dvw;
  height: 100dvh;
  z-index: -100;
  transform: scale(1.1);
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#panel {
  height: max-content;
  background-color: var(--fadebg);
  border: solid 1px var(--border);
  border-radius: 12px;
  overflow: hidden;
}

#panel-color {
  background-color: var(--fadebg);
}

#card-main {
  height: max-content;
  background-color: var(--card);
  border: solid 1px var(--border);
  border-radius: 12px;
  overflow: hidden;
}

#pipe-pri {
  padding: 2px;
  color: var(--baseinverse);
  background-color: var(--pri);
  border-radius: 10px;
}

#pipe-neu {
  padding: 2px;
  color: var(--baseinverse);
  background-color: var(--ter);
  border-radius: 10px;
}

#chip-toggle.true {
  height: max-content;
  background-color: var(--bgaccent);
  border: solid 1px var(--border);
  border-radius: 12px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#chip-toggle {
  height: max-content;
  background-color: var(--card);
  border: solid 1px var(--border);
  border-radius: 12px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#chip-action-pri {
  width: max-content;
  padding: 1px 8px;
  font-size: 1.0rem;
  font-weight: 700;
  color: var(--baseinverse);
  background-color: var(--pri);
  border-radius: 10px;
}

#chip-action-sec {
  width: max-content;
  padding: 1px 8px;
  font-size: 1.0rem;
  font-weight: 700;
  color: var(--baseinverse);
  background-color: var(--sec);
  border-radius: 10px;
}

#chip-action-neu {
  width: max-content;
  padding: 1px 8px;
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--baseinverse);
  background-color: var(--ter);
  border-radius: 10px;
}

#chip-quiz-pri {
  width: max-content;
  padding: 4px 8px 5px 8px;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--baseinverse);
  background-color: var(--pri);
  border-radius: 10px;
}

#chip-quiz-sec {
  width: max-content;
  padding: 4px 8px 5px 8px;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--baseinverse);
  background-color: var(--sec);
  border-radius: 10px;
}

#chip-quiz-neu {
  width: max-content;
  padding: 4px 8px 5px 8px;
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--baseinverse);
  background-color: var(--ter);
  border-radius: 10px;
}

#chip-lg {
  width: max-content;
  padding: 0 8px;
  margin-right: 12px;
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--baseinverse);
  background-color: var(--base);
  border-radius: 10px;
}

#chip-md {
  display: flex;
  align-items: center;
  width: max-content;
  min-height: 24px;
  height: fit-content;
  padding: 0 6px;
  margin-right: 6px;
  font-size: 0.9rem;
  font-weight: 900;
  color: var(--base);
  border: solid 1px var(--base);
  border-radius: 8px;
}

#chip-sm {
  display: flex;
  align-items: center;
  width: max-content;
  min-height: 24px;
  height: fit-content;
  padding-right: 4px;
  margin-right: 4px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--base);
  background-color: var(--card);
  border: solid 1px var(--border);
  border-radius: 8px;
  overflow: hidden;
}

.chip-sm-pri > svg {
  height: 24px;
  width: 24px;
  padding: 2px;
  color: var(--baseinverse);
  background-color: var(--pri);
}

.chip-sm-sec > svg {
  height: 24px;
  width: 24px;
  padding: 2px;
  color: var(--baseinverse);
  background-color: var(--sec);
}

.chip-sm-ter > svg {
  height: 24px;
  width: 24px;
  padding: 2px;
  color: var(--baseinverse);
  background-color: var(--ter);
}

#chip-pri {
  display: flex;
  align-items: center;
  width: max-content;
  min-height: 24px;
  padding: 0 8px;
  margin-right: 4px;
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--base);
  background-color: var(--pri);
  border: solid 1px var(--base);
  border-radius: 8px;
}

#chip-sec {
  display: flex;
  align-items: center;
  width: max-content;
  min-height: 24px;
  padding: 0 8px;
  margin-right: 4px;
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--base);
  background-color: var(--sec);
  border: solid 1px var(--base);
  border-radius: 8px;
}

#chip-ter {
  display: flex;
  align-items: center;
  width: max-content;
  min-height: 24px;
  padding: 0 8px;
  margin-right: 4px;
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--base);
  background-color: var(--ter);
  border: solid 1px var(--base);
  border-radius: 8px;
}

#divider {
  width: 100%;
  height: 1px;
  background-color: var(--ter);
}

#divider-inside {
  width: 100%;
  height: 1px;
  background-color: var(--border);
}

.-button-line {
  position: relative;
  font-weight: 600;
  width: max-content;
}

.-button-line:hover {
  position: relative;
  font-weight: 600;
}

.-button-line::before {
  display: block;
  content: attr(id);
  font-weight: 600;
  z-index: 1;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.-button-line::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--base);
  transition: all 0.25s ease;
  left: 50%;
  transform: translateX(-50%);
}

.-button-line:hover::after {
  width: 100%;
}

.-text-line {
  position: relative;
  width: max-content;
  font-weight: 600;
}

.-text-line::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: all 0.25s ease;
  left: 50%;
  transform: translateX(-50%);
}

.-terra {
  position: relative;
  height: 100%;
  width: 100%;
}

.-hero-effect {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.-hero-effect-top {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.-hero-effect-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
  overflow: hidden;
}

.-gradient-a {
  position: absolute;
  top: 50%;
  right: 0%;
  height: 60vh;
  width: 40vw;
  z-index: -100;
  transform: rotateZ(-45deg);
  background: #007CCF;
  background: linear-gradient(to left, #007CCF 0%, #7640CF 100%);
  -webkit-text-fill-color: transparent;
}

.-gradient-b {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 50vh;
  width: 50vw;
  z-index: -100;
  transform: rotateZ(-45deg);
  background: #007CCF;
  background: linear-gradient(to right, #007CCF 0%, #7640CF 100%);
  -webkit-text-fill-color: transparent;
}

.-card-hover {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 300ms;
  overflow: hidden;
}

.-card-hover > div > img {
  position: relative;
  transition: all ease-in-out 400ms;
  object-fit: cover;
}

.-card-hover:hover > div > img {
  transform: scale(1.02);
  transition: all ease-in-out 400ms;
}

.-X {
  position: absolute;
  top: -10%;
  font-weight: 700;
  font-size: 5rem;
  transform: rotateZ(90deg);
}
