.card {
    cursor: pointer;
    position: absolute;
    
    /* animated interactivity */
    transition: 250ms;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  }
  
.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.front.flipped {
    transform: rotateY(180deg);
}

.back.flipped {
    transform: rotateY(0deg);
}

strong {
    text-decoration: underline;
}
 
  